apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: "ocp4-workload-pam-with-frontend-demo"
    openshift.io/display-name: "PAM With Frontend Demo"
    openshift.io/requester: "user{{ user_num }}"
  name: "{{ _namespace }}"
spec:
  finalizers:
    - kubernetes